<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="discover" href="/tabs/discover">
      <ion-icon aria-hidden="true" name="compass-sharp"></ion-icon>
      <ion-label>{{ 'menu.discover' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favourites" href="/tabs/favourites">
      <ion-icon aria-hidden="true" name="heart-sharp"></ion-icon>
      <ion-label>{{ 'menu.favourites' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-place" href="/tabs/my-place">
      <ion-icon aria-hidden="true" name="musical-notes-sharp"></ion-icon>
      <ion-label>{{ 'menu.my-place' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil" href="/tabs/profil">
      <ion-icon aria-hidden="true" name="person-sharp"></ion-icon>
      <ion-label>{{ 'menu.profil' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
