<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ 'menu.profil' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'menu.profil' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container [name]="'menu.profil' | translate"></app-explore-container>

  <div class="flex flex-col gap-2">
    <div class="flex px-2 py-3 bg-gray-800">
      <div class="grow text-center text-2xl">account pseudo</div>
      <div class="w-8 text-xl flex">
        <ion-icon name="settings-sharp" class="m-auto cursor-pointer"></ion-icon>
      </div>
    </div>

    <div class="flex">
      <div class="mx-auto flex flex-row gap-1">
        <div><ion-button (click)="setStore('Admin')" color="tertiary">Admin</ion-button></div>
        <div><ion-button (click)="setStore('Customer')" color="success">Customer</ion-button></div>
        <div><ion-button (click)="setStore('User')" color="danger">User</ion-button></div>
      </div>
    </div>
    <div class="flex">
      <ion-button color="danger" class="mx-auto">Log out</ion-button>
    </div>

    <div>
      userId : {{dataStorageService.userId}}
    </div>

    <div class="mx-auto">version : {{appVersion}}</div>
  </div>
</ion-content>
